body{
    font-size: x-large;
    color: rgb(2, 79, 2);
    background-color: black;
    text-align: justify;
}
h1{
    font-size: 5rem;
    color: rgb(22, 117, 4);
    background-color: blueviolet;
    text-align: center;
}
blockquote{
    font-size: 3rem;
    color: #4A1B8C;
}
img{
    border: 10px solid rgb(58, 251, 5);
}
a{
    font-size: xx-large;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    border: 5px dotted rgb(37, 197, 37);
}